.speech{
    color: black; font-size: medium;font-style: inherit; text-indent: 25px;
}

.song{
    color: black;font-size: medium; font-style: inherit; text-indent: 25px;
}

.direction{
   background-color: black;font-family: 'Courier New', Courier, monospace;
   font-size: medium;

}

.direction:hover{
    background-color: black; color: aqua;
}
.CHO{
    font-style: oblique;color: blue;
}
.FLO{
    font-style: oblique;color: blueviolet;
}
.HIL{
    font-style: oblique;color: rgb(52, 35, 86);
}
.CYR{
    font-style: oblique;
    color: darkblue;
}
table{
    border-style: double;
}
th,td{
    border: 2px solid chocolate;
}
th{
    color: red;
}
td{
    color: rgb(101, 7, 15);
}
tr:nth-child(even){
    background-color: magenta;
}
td{
    text-align: center;
}
h,td{
    width: 150px;
    padding: 3px,3px,3px,3px;
    margin: 40px,30px,40px,30px;
    background-color: beige;
    border-top: 5px solid crimson;
    border-bottom: 5px dashed rgb(52, 35, 86);
    border-left: 15px double cornflowerblue ;
    border-right: 15px inset cornsilk;
}
.CHO{
    text-shadow: 2px 2px 2px cornflowerblue;
}
.CHO:hover{
    background-color: aquamarine;
    text-shadow: 2px 2px 2px cornflowerblue;
}
.HIL{
    text-shadow: 2px 2px 2px coral;
}
.HIL:hover{
    background-color: aquamarine;
    text-shadow: 2px 2px 2px coral;
}

.material-icons{
    font-size: 25px;
    color: rgb(23, 23, 79);
}
ul{
    list-style-type: square;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    background-color: blueviolet;
}
li{
    float: left;
}
li a{
    display: flexbox;
    color: tomato;
    text-align: justify;
    padding: 15px 20px;
    text-decoration: double;
}
li a:hover{
    background-color: olivedrab;
}